<app-password-form></app-password-form>

<div id="email-form-l" class="uk-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <div class="uk-modal-title">Enter your email</div>
    </div>
    <div class="uk-modal-body">
      <div class="uk-form uk-flex uk-flex-column uk-flex-middle">
        <input class="uk-width-4-5 uk-input" placeholder="Email" [(ngModel)]="email">

        <div class="uk-button uk-button-primary uk-margin-top" (click)="openPasswordForm()">Next</div>
      </div>
    </div>
  </div>
</div>
